In [1]:
import pandas as pd
import numpy as np
import sklearn                                  
import sklearn.model_selection as cv    
np.random.seed(10)

# We will take 2/3 for training and 1/3 for testing

In [4]:
#Generating the training and test datasets
df = pd.read_csv(r'../Datasets/dataset-all_numerical-normalized.csv',  sep=',')
(trainingDataset, testDataset) = cv.train_test_split(df, test_size=.33, random_state=1, shuffle=True)
trainingDataset.to_csv(r'../Datasets/training-dataset.csv')
testDataset.to_csv(r'../Datasets/testing-dataset.csv')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
count,13593.000000,13593,13593,13593,13593,13593,13593,13593,13593,13593,...,13593.000000,13593.000000,13593.000000,13593,13593.000000,13593.000000,13593.000000,13593.000000,13593.000000,13593
unique,NaN,12,4,8,2,3,3,2,10,5,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,2
top,NaN,admin.,married,university.degree,no,yes,no,cellular,may,thu,...,NaN,NaN,NaN,nonexistent,NaN,NaN,NaN,NaN,NaN,no
freq,NaN,3417,8212,4031,10731,7083,11271,8598,4529,2837,...,NaN,NaN,NaN,11768,NaN,NaN,NaN,NaN,NaN,12049
mean,40.013316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.569337,961.959317,0.170970,NaN,0.091098,93.579146,-40.475576,3.630456,5167.315795,NaN
std,10.419831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.705298,188.190510,0.497837,NaN,1.567287,0.578728,4.622785,1.732322,72.204364,NaN
min,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,NaN,-3.400000,92.201000,-50.800000,0.634000,4963.600000,NaN
25%,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,999.000000,0.000000,NaN,-1.800000,93.075000,-42.700000,1.344000,5099.100000,NaN
50%,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,999.000000,0.000000,NaN,1.100000,93.749000,-41.800000,4.857000,5191.000000,NaN
75%,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000000,999.000000,0.000000,NaN,1.400000,93.994000,-36.400000,4.961000,5228.100000,NaN
max,92.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.000000,999.000000,7.000000,NaN,1.400000,94.767000,-26.900000,5.045000,5228.100000,NaN

Once we have split our original dataset into training and test, we will take a look at the proportions of yes/no of the y feature. As we have split randomly, the proportion should be simmilar to the original one.

In [5]:
print("Proportion of the feature in the ORIGINAL dataset")
print(df.y.value_counts(normalize=True))
print("--------------------------------------------------")
print("Proportion of the feature in the TRAINING dataset")
print(trainingDataset.y.value_counts(normalize=True))
print("--------------------------------------------------")
print("Proportion of the feature in the TEST dataset")
print(testDataset.y.value_counts(normalize=True))

Proportion of the feature in the ORIGINAL dataset
no     0.886412
yes    0.113588
Name: y, dtype: float64
--------------------------------------------------
Proportion of the feature in the TRAINING dataset
no     0.887806
yes    0.112194
Name: y, dtype: float64
--------------------------------------------------
Proportion of the feature in the TEST dataset
no     0.886412
yes    0.113588
Name: y, dtype: float64